@function opposite-position($directions) {
    $opposite-directions: ();
    $direction-map: (
        'top': 'bottom',
        'right': 'left',
        'bottom': 'top',
        'left': 'right',
        'center': 'center',
        'ltr': 'rtl',
        'rtl': 'ltr'
    );

    @each $direction in $directions {
        $direction: to-lower-case($direction);

        @if map-has-key($direction-map, $direction) {
            $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
        } @else {
            @warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
        }
    }

    @return $opposite-directions;
}

@mixin triangle($direction, $color: currentcolor, $size: 1em) {
    @if not index(top right bottom left, $direction) {
        @error "Direction must be either `top`, `right`, `bottom` or `left`.";
    }

    width: 0;
    height: 0;
    content: '';
    z-index: 2;
    border-#{opposite-position($direction)}: ($size) solid $color;

    $perpendicular-borders: $size solid transparent;

    @if $direction == top or $direction == bottom {
        border-left: $perpendicular-borders;
        border-right: $perpendicular-borders;
    } @else if $direction == right or $direction == left {
        border-bottom: $perpendicular-borders;
        border-top: $perpendicular-borders;
    }
}

/*-------------------------
   Reset
--------------------------*/
$primary: #092532;
$link: #254235;
$warning: #fae0ca;
$light: #fafafa;
$notification-padding: 1rem;
$notification-background-color: #FFF;
$radius: 2px;
$body-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$body-font-size: 14px;
$size-normal: 14px;
$box-radius: 0;
$box-shadow: 0 1px 5px -1px rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
$navbar-height: 2.75rem;
$dropdown-content-offset: 0;
$modal-card-head-radius: 2px;
$modal-card-foot-radius: 2px;
$modal-card-head-background-color: #FFF;
$modal-card-head-border-bottom: 1px solid #EEE;
$modal-card-foot-border-top: 1px solid #EEE;
$modal-card-head-padding: 1rem 20px;
$modal-background-background-color: rgba(10, 10, 10, 0.3);
$hero-body-padding: 3rem 0;
$card-shadow: $box-shadow;
$card-content-padding: 1rem;
$box-padding: .75rem 0.5rem;
$notification-padding: 1rem;
$notification-padding-ltr: 1rem;
$notification-padding-rtl: 1rem;
$input-placeholder-color: #818181;
$footer-padding: 0;
@import "~bulma/bulma";
@import "buefy";
@import "skeleton";

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(51, 51, 51, 0.5);
}

html {
    scroll-behavior: smooth;
}

body {
    font-smooth: auto;
    -webkit-font-smoothing: auto;
}

.modal-content {
    min-height: 80vh;
}

.navbar.is-primary .navbar-brand > a.navbar-item:focus, .navbar.is-primary .navbar-brand > a.navbar-item:hover, .navbar.is-primary .navbar-brand > a.navbar-item.is-active, .navbar.is-primary .navbar-brand .navbar-link:focus, .navbar.is-primary .navbar-brand .navbar-link:hover, .navbar.is-primary .navbar-brand .navbar-link.is-active {
    background: unset;
    color: unset;
}

:focus {
    outline: unset;
}

.container {
    max-width: 828px;

    &.small {
        max-width: 550px;
    }

    &.is-fullwidth {
        max-width: calc(100% - 2rem);
    }
}

.hero.is-small .hero-body {
    padding: 1.5rem 0;
}

header.header {
}

.navbar-item {
    font-weight: bold;
}

.is-dark {
    .navbar-item {
        a:hover {
            color: #EEEEEE;
        }
    }
}

.section {
    padding: 3rem .75rem;
}

.footer {
    background: #FFFFFF;
    border-top: 1px solid #EEEEEE;
}

.visual {
    .task {
        .title {
            &:not(:empty) {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.task {
    border: 1px solid #EEEEEE;
    cursor: pointer;

    &.is-editing {
        z-index: 999;
    }

    .notification {
        background: #FFFFFF;
        line-height: 1;
        padding: .5rem 1rem;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .title {
        font-size: 14px;
        margin-bottom: 0;
    }

    .card-header {
        box-shadow: 0 1px 1px rgba(10, 10, 10, 0.1);
        display: block;
    }

    .card-footer-item {
        padding: .25rem;
    }

    .card-content {
        padding: .5rem;
    }

    position: relative;

    .card {
        background: #FFF;
        height: fit-content;
        position: absolute;
        top: 100%;
        left: -.5rem;
        right: -.5rem;
        z-index: 2;
        max-width: unset;
        box-shadow: 0 5px 8px 0px rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

        p {
            margin-bottom: .5rem !important;
        }
    }

    .is-hidden-mobile {
        color: #cacaca;
        font-size: 14px;
    }

    .title {
        width: 100%;
    }

    .note {
        min-height: 100px;
        background: #fae0ca40;
        padding: .75rem;
        margin: -.5rem -.5rem .5rem;
    }

    .close {
        position: absolute;
        top: -.5rem;
        right: .5rem;
        background: #FFF;
        border: 1px solid #EEEEEE;
        height: 1rem;
        padding: 0 .25rem;

        .icon {
            height: 1rem;
        }
    }

    .level {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.button {
    &.is-text {
        text-decoration: unset;
    }

    &.is-primary,
    &.is-dark {
        .icon svg {
            fill: #FFF;
        }
    }

    .field {
        margin-bottom: 0;
        color: #7f828b;
    }

    .value {
        font-weight: bold;
    }

    span:not(:last-child) {
        margin-right: .5rem;
    }
}

.clickable {
    cursor: pointer;
}

[placeholder]:empty:before {
    content: attr(placeholder);
    color: #989898;
}

.label {
    color: #989898;
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.dropdown-content {
    border-radius: 0;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrap {
        margin-bottom: 1.5rem;
    }
}

.timer {
    width: 440px;
    height: 230px;
    display: block;
    margin: 0 auto .5rem;

    * {
        cursor: default;
    }

    .title {
        width: 100%;
        font-size: 26px;
        letter-spacing: 4px;
        text-align: center;
    }

    &--clock {
        width: 100%;
        position: relative;
        margin-top: 22px;;
        overflow: hidden;
        display: flex;
        justify-content: center;

        .clock-display-grp {
            width: auto;
            position: relative;

            .number-grp {
                width: auto;
                display: block;
                height: 100px;
                float: left;
                overflow: hidden;

                .number-grp-wrp {
                    width: 100%;
                    position: relative;
                    transition-duration: .3s;
                    margin: 0 .25rem;

                    .num {
                        width: 100%;
                        position: relative;
                        height: 100px;

                        p {
                            width: auto;
                            display: table;
                            font-size: 90px;
                            line-height: 100px;
                            font-weight: bold;
                        }

                    }

                }

            }
        }

        .clock-separator {
            width: auto;
            float: left;
            display: block;
            height: 100px;

            p {
                width: auto;
                display: table;
                font-size: 95px;
                line-height: 110px;
                font-weight: bold;
            }

        }

    }

    h4 {
        width: 100%;
        font-size: 10px;
        letter-spacing: 6px;
        text-align: center;
        padding-top: 25px;
        float: left;
    }
}

.unsplash {
    min-width: 300px;
    padding: 1rem 0 0;

    .image img {
        object-fit: cover;
    }

    .image.selected {
        position: relative;

        &:after {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
            content: "";
        }
    }

    .field:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .column {
        padding-top: var(--columnGap);
        padding-bottom: var(--columnGap);
    }
}

.uppercase {
    text-transform: uppercase;
}

.box:not(:last-child) {
    margin-bottom: .5rem;
}

.navbar-item,
.navbar-link {
    line-height: 1;
    padding: 0.25rem 0.75rem;
}

.columns.is-variable .column {
    padding: var(--columnGap);
}

.gap {
    padding: 1rem;

    &:not(:last-child) {
        padding-bottom: 0;
    }
}

.control.has-icons-right .icon {
    pointer-events: unset;
}

.media.is-active {
    background: #F0F0F0;
}

.subsection {
    margin-bottom: 1.5rem;
}

.card:not(:last-child) {
    margin-bottom: 1.5rem;
}

.image.is-bordered {
    img {
        border-radius: 5px;
    }
}

.level:not(:last-child) {
    margin-bottom: 1rem;
}

.main-content {
    position: relative;

    .main-body {
        overflow: auto;
        margin-bottom: 2.75rem;
        min-height: 100vh;
    }

    .sidebar {
        left: -3.75rem;
        width: 3.75rem;
        border-right: 1px solid #EEE;
        position: fixed;
        background: #FFFFFF;
        bottom: 0;
        top: 0;
        z-index: 39;

        &.active {
            left: 0;
        }

        .menu {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        .menu-list {
            span {
                width: 100%;
                color: rgb(114, 112, 106);
            }

            .elm,
            a {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                text-align: center;
                padding: 1.5em 0.75em;
                flex-direction: column;
                cursor: pointer;

                &.is-active {
                    background-color: aliceblue;
                }

                &.logo {
                    padding: 0;
                }
            }
        }

        .dropdown-menu {
            left: calc(100% + 1rem);
            text-align: left;

            ul {
                border-left: 0;
                margin: 0;
                padding-left: 0;

                li a {
                    padding: .5rem .75rem;
                }
            }

            span {
                width: unset;
            }
        }

        .dropdown.is-active {
            .button.is-primary span {
                color: #FFF;
            }
        }
    }
}

.box,
.card {
    box-shadow: none;
    border: 1px solid #EEEEEE;
}

.timer-control {
    transition: visibility 0s, opacity 0.1s linear;
    opacity: 1;

    &.hidden {
        opacity: 0;
    }
}

/* bounce */
.bounce-enter-active {
    animation: moveUp .25s;
}

.bounce-leave-active {
    animation: moveUp .25s reverse;
}

@keyframes moveUp {
    0% {
        top: 100px;
    }
    100% {
        bottom: 0;
    }
}

.feature {
    border: 1px #EEEEEE solid;
    padding: .5rem .75rem;
    margin-bottom: .5rem;
    background: #FFFFFF;
}

.boards {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .board {
        width: 550px;
        margin: 0 .5rem;

        .media-right {
            margin-left: .5rem;
        }
    }
}

.task.master {
    position: relative;

    .task {
        position: unset;

        .card {
            top: 5%;
        }
    }
}

.fuh-button.fuh-fixed {
    border-radius: 0 !important;
    background: #FFFFFF !important;
    border-bottom: 0 !important;
}

.fuh-embed {
    z-index: 99999;
}

.sidebar-control {
    position: absolute;
    top: calc(50% - 25px);
    right: -23px;
    border-left: 0;
    border-color: #eee;
    padding: 1.5rem .5rem;
}

@media all and (min-width: 728px) {
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media all and (max-width: 728px) {
    .board {
        min-width: calc(100% - 1.5rem) !important;
        margin: 0 auto;
    }

    .main-content .container {
        padding: 0 .75rem;

        .board {
            min-width: 100% !important;
        }
    }

    .main-content .gap .container,
    .main-content .section .container {
        padding: 0;
    }

    .media-content {
        overflow-x: unset;
    }

    .fuh-embed,
    .fuh-button.fuh-fixed {
        left: .75rem !important;
    }

    .fuh-button.fuh-fixed {
        padding: .6rem !important;

        span:last-child {
            display: none;
        }

        svg {
            margin-right: 0 !important;
        }
    }
    .fuh-embed {
        width: calc(100% - 1.25rem);
        min-width: unset !important;
        height: 100% !important;
        max-height: calc(100vh - 150px) !important;
    }

    .level-left + .level-right {
        margin-top: 1rem;
    }

    .sound-bar {
        display: inline-flex;
    }

    .section {
        padding: .75rem;
    }

    .hero:not(.is-fullheight) {
        .hero-body {
            padding: .75rem 0;
        }
    }
}

@media all and (max-width: 480px) {
    .unsplash,
    .container.is-fullwidth {
        max-width: unset;
        min-width: unset;
    }

    .footer {
        .container {
            padding: 0;
        }
    }

    .vc-chrome {
        width: 100% !important;
    }

    .timer {
        width: 100%;

        .timer--clock .clock-display-grp .number-grp {
            height: 110px;

            .num {
                height: 110px;

                p {
                    font-size: 100px;
                }
            }
        }

        .timer--clock .clock-separator {
            height: 120px;

            p {
                font-size: 100px;
                line-height: 126.5px;
            }
        }
    }

    .board {
        min-width: unset;
        width: calc(100% - 2rem) !important;
    }
    .navbar-menu {
        padding: 0;
    }
    .navbar-end {
        .dropdown-trigger,
        .dropdown {
            width: 100%;
        }

        .navbar-item {
            padding: 1rem 0.75rem;
            border-top: 1px solid #EEE;

            &:not(:last-child) {

            }
        }
    }

    .modal-content .container {
        padding: 0 1rem;
    }

    .column {
        padding: .375rem .75rem;
    }

    [contenteditable] {
        font-size: 1rem !important;
    }

    .modal-content, .modal-card {
        margin: 0;
    }
}

.switch .control-label:empty {
    padding-left: 0;
}

.dropdown-content:empty {
    display: none;
}

#music_list {
    display: none;
}
