@function opposite-position($directions) {
    $opposite-directions: ();
    $direction-map: (
        'top': 'bottom',
        'right': 'left',
        'bottom': 'top',
        'left': 'right',
        'center': 'center',
        'ltr': 'rtl',
        'rtl': 'ltr'
    );

    @each $direction in $directions {
        $direction: to-lower-case($direction);

        @if map-has-key($direction-map, $direction) {
            $opposite-directions: append($opposite-directions, unquote(map-get($direction-map, $direction)));
        } @else {
            @warn "No opposite direction can be found for `#{$direction}`. Direction omitted.";
        }
    }

    @return $opposite-directions;
}

@mixin triangle($direction, $color: currentcolor, $size: 1em) {
    @if not index(top right bottom left, $direction) {
        @error "Direction must be either `top`, `right`, `bottom` or `left`.";
    }

    width: 0;
    height: 0;
    content: '';
    z-index: 2;
    border-#{opposite-position($direction)}: ($size) solid $color;

    $perpendicular-borders: $size solid transparent;

    @if $direction == top or $direction == bottom {
        border-left: $perpendicular-borders;
        border-right: $perpendicular-borders;
    } @else if $direction == right or $direction == left {
        border-bottom: $perpendicular-borders;
        border-top: $perpendicular-borders;
    }
}

/*-------------------------
   Reset
--------------------------*/
$primary: #cd2653;
$link: #cd2653;
$warning: #f5efe0;
$notification-padding: 1rem;
$notification-background-color: #FFF;
$radius: 2px;
$body-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$body-font-size: 14px;
$box-radius: 0;
$box-shadow: 0 1px 5px -1px rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
$navbar-height: 3rem;
$dropdown-content-offset: 0;
$modal-card-head-radius: 2px;
$modal-card-foot-radius: 2px;
$modal-card-head-background-color: #FFF;
$modal-card-head-border-bottom: 0;
$modal-card-foot-border-top: 0;
$modal-background-background-color: rgba(10, 10, 10, 0.3);
$hero-body-padding: 3rem 0;

@import "~bulma/bulma";
@import "buefy";

html {
    scroll-behavior: smooth;
}

body {
    font-smooth: auto;
    -webkit-font-smoothing: auto;
}

.header.is-dark {
    background: #363636;

    .navbar-item {
        color: #FFFFFF;
    }
}


:focus {
    outline: unset;
}

.container {
    max-width: 728px;
}

.hero.is-small .hero-body {
    padding: 1.5rem 0;
}

h2.title,
h1.title {
    font-family: serif;
}

.logo {
    font-size: 20px;

    .primary {
        color: $primary;
        font-family: serif;
        font-weight: bold;
    }

    .second {
        font-weight: normal;
        font-size: 1rem;
    }
}

.main-content {
    min-height: calc(100vh - 56px)
}

.navbar-item {
    font-weight: bold;
}

.is-dark {
    .navbar-item {
        a:hover {
            color: #EEEEEE;
        }
    }
}

.section {
    padding: 3rem .75rem;
}

.footer {
    padding: 3rem 1.5rem 3rem;
}

.task {
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    cursor: pointer;

    &.is-editing {
        z-index: 999;
    }

    .notification {
        background: #FFFFFF;
        line-height: 1;
        padding: .5rem .75rem;

        &:not(:last-child) {
            margin-bottom: 0;
        }

        .title {
            font-size: 1rem;
            margin-bottom: .25rem;
        }
    }

    .card-header {
        box-shadow: 0 1px 1px rgba(10, 10, 10, 0.1);
        display: block;
    }

    position: relative;

    .card {
        background: #FFF;
        height: fit-content;
        position: absolute;
        top: -.5rem;
        left: -.5rem;
        right: -.5rem;
        z-index: 2;
        max-width: unset;
        box-shadow: 0 5px 8px 0px rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

        p {
            margin-bottom: .5rem !important;
        }
    }

    .is-hidden-mobile {
        color: #cacaca;
        font-size: 14px;
    }

    .title {
        width: 100%;
    }
}

.button {
    &.is-text {
        text-decoration: unset;
    }

    .field {
        margin-bottom: 0;
        color: #7f828b;
    }

    .value {
        font-weight: bold;
    }

    span:not(:last-child) {
        margin-right: .5rem;
    }
}

.clickable {
    cursor: pointer;
}

[placeholder]:empty:before {
    content: attr(placeholder);
    color: #989898;
}

.label {
    color: #989898;
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.dropdown-content {
    border-radius: 0;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    width: 440px;
    height: 248px;
    display: block;
    margin: 0 auto 1.5rem;

    * {
        cursor: default;
    }

    .title {
        width: 100%;
        font-size: 26px;
        letter-spacing: 4px;
        text-align: center;
    }

    &--clock {
        width: 100%;
        position: relative;
        margin-top: 22px;;
        overflow: hidden;

        .clock-display-grp {
            width: 100%;
            position: relative;

            .number-grp {
                width: auto;
                display: block;
                height: 140px;
                float: left;
                overflow: hidden;

                .number-grp-wrp {
                    width: 100%;
                    position: relative;
                    transition-duration: .3s;
                    margin: 0 .25rem;

                    .num {
                        width: 100%;
                        position: relative;
                        height: 140px;

                        p {
                            width: auto;
                            display: table;
                            font-size: 150px;
                            line-height: 135px;
                            font-weight: bold;
                        }

                    }

                }

            }
        }

        .clock-separator {
            width: auto;
            float: left;
            display: block;
            height: 140px;

            p {
                width: auto;
                display: table;
                font-size: 140px;
                line-height: 122.5px;
                font-weight: bold;
            }

        }

    }

    h4 {
        width: 100%;
        font-size: 10px;
        letter-spacing: 6px;
        text-align: center;
        padding-top: 25px;
        float: left;
    }
}

.uppercase {
    text-transform: uppercase;
}

.box {
    padding: .5rem 1.25rem;
}

.box:not(:last-child) {
    margin-bottom: .5rem;
}

@media all and (max-width: 728px) {
    .main-content .container {
        padding: 0 .75rem;
    }

    .media-content {
        overflow-x: unset;
    }
}

@media all and (max-width: 480px) {
    .timer {
        width: 376px;

        .timer--clock .clock-display-grp .number-grp {
            height: 120px;

            .num {
                height: 120px;

                p {
                    font-size: 120px;
                }
            }
        }

        .timer--clock .clock-separator {
            height: 120px;

            p {
                font-size: 100px;
                line-height: 126.5px;
            }
        }
    }
}
